@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --teal: #2ec1ac;
    --teal_hover: #279ebc;
}

* {
    font-family: "Poppins", sans-serif;
}

.h-font {
    font-family: "Merienda", cursive;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custome-bg {
    background-color: var(--teal);
    border: 1px solid var(--teal);
}

.custome-bg:hover {
    background-color: var(--teal_hover);
}

.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}